@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>​GetLogoGear.com by <br/> Southern Printing and Graphics</h3>

<address>
    5424 Hixson Pike<br />
    Hixson, TN 37343<br />
    <abbr title="Phone">P:</abbr>
    423-843-3182
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:southernpg@cs.com">southernpg@cs.com</a>
</address>